/*@import url(https://fonts.googleapis.com/css?family=Rock+Salt|Montserrat);*/
@import "_variables.scss";

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "_bootswatch.scss";

@import "font-awesome-sprockets";
@import "font-awesome";
